In [1]:
import pandas as pd 
import nltk
from nltk.tokenize import word_tokenize 
from nltk.probability import FreqDist
import string 
import re

In [2]:
data_raw = pd.read_csv("tweets_uuite_TA.csv")
data_raw

,Datetime,Tweet Id,Tweet,Username
0,2021-02-19 23:58:25+00:00,1362914466917011456,"Dibeberkan Roy Suryo, Ternyata Ini Sejarah Lah...",idtodayco
1,2021-02-19 23:55:29+00:00,1362913729155764224,@TsamaraDKI @psi_id Demi menyelamatkan seorang...,toha_laha
2,2021-02-19 23:54:18+00:00,1362913430143836162,"Makassar Terkini: Jokowi Minta Revisi UU ITE, ...",bryanesia
3,2021-02-19 23:43:48+00:00,1362910790777331719,UU ITE dibuat pada zaman pra sejarah ??? Pada ...,amalpribadi2
4,2021-02-19 23:40:19+00:00,1362909911743520771,Pada UU ITE pasal-pasal karet yang perlu dicab...,BournAgainShell
...,...,...,...,...
11781,2021-02-14 00:08:58+00:00,1360742794487209989,@msaid_didu @Pak_JK @kiangiekwik @m_dinsyamsud...,Toraya_Maelo
11782,2021-02-14 00:06:15+00:00,1360742111662940162,Kalo di Jepang 4 orang terluka.kalo di Indones...,mugiarso74
11783,2021-02-14 00:03:22+00:00,1360741387050897410,"@adityapradanan Wkwk ntaps lah ditegasin, uran...",jmkaisa97
11784,2021-02-14 00:01:31+00:00,1360740920472178694,"Demokrat: Jika Jokowi Minta Dikritik, UU ITE H...",GafIkhsan
11785,2021-02-14 00:00:16+00:00,1360740607501639681,"Andalan rejim ini adalah UU ITE, BuzzeRP, Cebo...",ZRsaja

In [3]:
nospam=data_raw[data_raw.groupby('Username').Username.transform('count')<21].copy()
nospam

,Datetime,Tweet Id,Tweet,Username
1,2021-02-19 23:55:29+00:00,1362913729155764224,@TsamaraDKI @psi_id Demi menyelamatkan seorang...,toha_laha
2,2021-02-19 23:54:18+00:00,1362913430143836162,"Makassar Terkini: Jokowi Minta Revisi UU ITE, ...",bryanesia
3,2021-02-19 23:43:48+00:00,1362910790777331719,UU ITE dibuat pada zaman pra sejarah ??? Pada ...,amalpribadi2
4,2021-02-19 23:40:19+00:00,1362909911743520771,Pada UU ITE pasal-pasal karet yang perlu dicab...,BournAgainShell
5,2021-02-19 23:37:04+00:00,1362909094118522882,@PutraWadapi Apakah revisi UU ITE semakin baik...,yanzulfian9
...,...,...,...,...
11781,2021-02-14 00:08:58+00:00,1360742794487209989,@msaid_didu @Pak_JK @kiangiekwik @m_dinsyamsud...,Toraya_Maelo
11782,2021-02-14 00:06:15+00:00,1360742111662940162,Kalo di Jepang 4 orang terluka.kalo di Indones...,mugiarso74
11783,2021-02-14 00:03:22+00:00,1360741387050897410,"@adityapradanan Wkwk ntaps lah ditegasin, uran...",jmkaisa97
11784,2021-02-14 00:01:31+00:00,1360740920472178694,"Demokrat: Jika Jokowi Minta Dikritik, UU ITE H...",GafIkhsan
11785,2021-02-14 00:00:16+00:00,1360740607501639681,"Andalan rejim ini adalah UU ITE, BuzzeRP, Cebo...",ZRsaja

In [4]:
# data=nospam.sample(n=int(len(nospam)*90/100))
# data

In [5]:
username = nospam.copy()
username.drop(["Datetime", "Tweet Id", "Tweet"], axis = 1)

              Username
1            toha_laha
2            bryanesia
3         amalpribadi2
4      BournAgainShell
5          yanzulfian9
...                ...
11781     Toraya_Maelo
11782       mugiarso74
11783        jmkaisa97
11784        GafIkhsan
11785           ZRsaja

[10041 rows x 1 columns]

In [6]:
uniq_username=""
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.width', 30):
    uniq_username=username['Username'].str.split(expand=True).stack().value_counts()
    
len(uniq_username)

5945

## Case Folding
Mengubah semua huruf menjadi huruf kecil (lower case) (library pandas)

In [7]:
dataclean = nospam.drop(["Datetime", "Tweet Id", "Username"], axis = 1)
dataclean.columns = dataclean.columns.str.strip().str.lower()
dataclean.head(10)

                                                tweet
1   @TsamaraDKI @psi_id Demi menyelamatkan seorang...
2   Makassar Terkini: Jokowi Minta Revisi UU ITE, ...
3   UU ITE dibuat pada zaman pra sejarah ??? Pada ...
4   Pada UU ITE pasal-pasal karet yang perlu dicab...
5   @PutraWadapi Apakah revisi UU ITE semakin baik...
6   UU ITE itu UU No 11 Tahin 2008.\nTahun 2008 si...
8   @taharuddin_id Kalau dibandingin di negeri ini...
10  Anggota Partainya Suka Bikin Laporan, Tsamara ...
11  Wacana Revisi UU ITE Diendus sebagai Upaya Bar...
12  @keuangannews_id @budimandjatmiko benar enggak...

In [8]:
dataclean['tweet'] = dataclean['tweet'].str.lower()
print('Hasil Case Folding : \n')
print(dataclean['tweet'].head(10))
print('\n\n\n')

Hasil Case Folding :

1     @tsamaradki @psi_id demi menyelamatkan seorang...
2     makassar terkini: jokowi minta revisi uu ite, ...
3     uu ite dibuat pada zaman pra sejarah ??? pada ...
4     pada uu ite pasal-pasal karet yang perlu dicab...
5     @putrawadapi apakah revisi uu ite semakin baik...
6     uu ite itu uu no 11 tahin 2008.\ntahun 2008 si...
8     @taharuddin_id kalau dibandingin di negeri ini...
10    anggota partainya suka bikin laporan, tsamara ...
11    wacana revisi uu ite diendus sebagai upaya bar...
12    @keuangannews_id @budimandjatmiko benar enggak...
Name: tweet, dtype: object

In [9]:
import string 
import re

# CLEANSING
Menghapus seluruh tanda baca, link, hashtag, mention

In [10]:
def remove_tweet_special(text):
    # remove tab, new line, ans back slice
    text = text.replace('\\t'," ").replace('\\n'," ").replace('\\u'," ").replace('\\',"")
    # remove non ASCII (emoticon, chinese word, .etc)
    text = text.encode('ascii', 'replace').decode('ascii')
    # remove mention, link, hashtag
    text = ' '.join(re.sub("([@#][A-Za-z0-9]+)|(\w+:\/\/\S+)"," ", text).split())
    #remove url (menghapus link)
    text = re.sub(r'\w+:\/{2}[\d\w-]+(\.[\d\w-]+)(?:(?:\/[^\s/]))*', '', text)
    # remove incomplete URL
    return text.replace("http://", " ").replace("https://", " ")
                
dataclean['tweet'] = dataclean['tweet'].apply(remove_tweet_special)

#remove number (menghapus angka)
def remove_number(text):
    return  re.sub(r"\d+", "", text)

dataclean['tweet'] = dataclean['tweet'].apply(remove_number)

#remove punctuation (menghapus tanda baca)
def remove_punctuation(text):
    return text.translate(str.maketrans("","",string.punctuation))

dataclean['tweet'] = dataclean['tweet'].apply(remove_punctuation)

# remove single char
def remove_singl_char(text):
    return re.sub(r"\b[a-zA-Z]\b", "", text)

dataclean['tweet'] = dataclean['tweet'].apply(remove_singl_char)

dataclean.head()

#remove whitespace leading & trailing (menghapus spasi awal dan akhir)
def remove_whitespace_LT(text):
    return text.strip()

dataclean['tweet'] = dataclean['tweet'].apply(remove_whitespace_LT)

#remove multiple whitespace into single whitespace
def remove_whitespace_multiple(text):
    return re.sub('\s+',' ',text)

dataclean['tweet'] = dataclean['tweet'].apply(remove_whitespace_multiple)

# remove single char
def remove_singl_char(text):
    return re.sub(r"\b[a-zA-Z]\b", "", text)

dataclean['tweet'] = dataclean['tweet'].apply(remove_singl_char)

dataclean

                                                   tweet
1      id demi menyelamatkan seorang abu janda agar t...
2      makassar terkini jokowi minta revisi uu ite ro...
3      uu ite dibuat pada zaman pra sejarah pada saat...
4      pada uu ite pasalpasal karet yang perlu dicabu...
5      apakah revisi uu ite semakin baik atau semakin...
...                                                  ...
11781  didu jk dinsyamsuddin gak bisa bedakan kritikh...
11782  kalo di jepang orang terlukakalo di indonesia ...
11783  wkwk ntaps lah ditegasin urang males kalo gili...
11784  demokrat jika jokowi minta dikritik uu ite har...
11785  andalan rejim ini adalah uu ite buzzerp cebong...

[10041 rows x 1 columns]

In [11]:
dataset=dataclean

In [12]:
# bruto = int(len(dataset))
# dataset = dataset.drop_duplicates(subset=['tweet'])
# print("Dataset dibuang (Karena duplikat) : "+(str(bruto-int(len(dataset))))+" data")
# print("Dataset masuk : "+str(len(dataset))+" data")

## TOKENIZING
membagi kalimat menjadi perkata

In [13]:
nltk.download('punkt')
def word_tokenize_wrapper(text):
    return word_tokenize(text)

dataset['tweet'] = dataset['tweet'].apply(word_tokenize_wrapper)
dataset['tweet']

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

1        [id, demi, menyelamatkan, seorang, abu, janda,...
2        [makassar, terkini, jokowi, minta, revisi, uu,...
3        [uu, ite, dibuat, pada, zaman, pra, sejarah, p...
4        [pada, uu, ite, pasalpasal, karet, yang, perlu...
5        [apakah, revisi, uu, ite, semakin, baik, atau,...
                               ...
11781    [didu, jk, dinsyamsuddin, gak, bisa, bedakan, ...
11782    [kalo, di, jepang, orang, terlukakalo, di, ind...
11783    [wkwk, ntaps, lah, ditegasin, urang, males, ka...
11784    [demokrat, jika, jokowi, minta, dikritik, uu, ...
11785    [andalan, rejim, ini, adalah, uu, ite, buzzerp...
Name: tweet, Length: 10041, dtype: object

## NORMALIZE
MENGUBAH KATA TIDAK BAKU MENJADI KATA BAKU

In [14]:
normalizad_word = pd.read_excel("normalisasi.xlsx")

normalizad_word_dict = {}

for index, row in normalizad_word.iterrows():
    if row[0] not in normalizad_word_dict:
        normalizad_word_dict[row[0]] = row[1] 

def normalized_term(document):
    return [normalizad_word_dict[term] if term in normalizad_word_dict else term for term in document]

dataset['tweet'] = dataset['tweet'].apply(normalized_term)
dataset['tweet'].head(10)

1     [indonesia, demi, menyelamatkan, seorang, abu,...
2     [makassar, terkini, jokowi, minta, revisi, uu,...
3     [uu, ite, dibuat, pada, zaman, pra, sejarah, p...
4     [pada, uu, ite, pasal pasal, karet, yang, perl...
5     [apakah, revisi, uu, ite, semakin, baik, atau,...
6     [uu, ite, itu, uu, no, tahin, tahun, siapa, co...
8     [indonesia, kalau, dibandingin, di, negeri, in...
10    [anggota, partainya, suka, bikin, laporan, tsa...
11    [wacana, revisi, uu, ite, diendus, sebagai, up...
12    [indonesia, benar, tidak, mas, saya, tidak, pe...
Name: tweet, dtype: object

## STOPWORD REMOVAL
Membuang kata yang tidak memiliki arti penting

In [15]:
from nltk.corpus import stopwords
nltk.download('stopwords')
list_stopwords = stopwords.words('indonesian')
list_stopwords.extend(["amp", "nya"])
# txt_stopword = pd.read_csv("stopwords.txt", names= ["stopwords"], header = None)
# list_stopwords.extend(txt_stopword["stopwords"][0].split(' '))
list_stopwords = set(list_stopwords)
def stopwords_removal(words):
    return [word for word in words if word not in list_stopwords]
dataset['tweet'] = dataset['tweet'].apply(stopwords_removal) 
dataset.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                               tweet
1  [indonesia, menyelamatkan, abu, janda, terjera...
2  [makassar, terkini, jokowi, revisi, uu, ite, r...
3  [uu, ite, zaman, pra, sejarah, orang, pintar, ...
4  [uu, ite, pasal pasal, karet, dicabut, pasal, ...
5  [revisi, uu, ite, modus, khawatir, revisi, buz...

In [16]:
dataset.to_csv('dataclean_uu_ite.csv', index=False)
dataclean = pd.read_csv('dataclean_uu_ite.csv', encoding='latin1')
dataclean

                                                   tweet
0      ['indonesia', 'menyelamatkan', 'abu', 'janda',...
1      ['makassar', 'terkini', 'jokowi', 'revisi', 'u...
2      ['uu', 'ite', 'zaman', 'pra', 'sejarah', 'oran...
3      ['uu', 'ite', 'pasal pasal', 'karet', 'dicabut...
4      ['revisi', 'uu', 'ite', 'modus', 'khawatir', '...
...                                                  ...
10036  ['didu', 'jk', 'dinsyamsuddin', 'bedakan', 'kr...
10037  ['jepang', 'orang', 'terlukakalo', 'indonesia'...
10038  ['wkwk', 'ntaps', 'ditegasin', 'males', 'gilir...
10039  ['demokrat', 'jokowi', 'dikritik', 'uu', 'ite'...
10040  ['andalan', 'rejim', 'uu', 'ite', 'buzzer', 'c...

[10041 rows x 1 columns]

In [17]:
list_stopwords

{'ada',
 'adalah',
 'adanya',
 'adapun',
 'agak',
 'agaknya',
 'agar',
 'akan',
 'akankah',
 'akhir',
 'akhiri',
 'akhirnya',
 'aku',
 'akulah',
 'amat',
 'amatlah',
 'amp',
 'anda',
 'andalah',
 'antar',
 'antara',
 'antaranya',
 'apa',
 'apaan',
 'apabila',
 'apakah',
 'apalagi',
 'apatah',
 'artinya',
 'asal',
 'asalkan',
 'atas',
 'atau',
 'ataukah',
 'ataupun',
 'awal',
 'awalnya',
 'bagai',
 'bagaikan',
 'bagaimana',
 'bagaimanakah',
 'bagaimanapun',
 'bagi',
 'bagian',
 'bahkan',
 'bahwa',
 'bahwasanya',
 'baik',
 'bakal',
 'bakalan',
 'balik',
 'banyak',
 'bapak',
 'baru',
 'bawah',
 'beberapa',
 'begini',
 'beginian',
 'beginikah',
 'beginilah',
 'begitu',
 'begitukah',
 'begitulah',
 'begitupun',
 'bekerja',
 'belakang',
 'belakangan',
 'belum',
 'belumlah',
 'benar',
 'benarkah',
 'benarlah',
 'berada',
 'berakhir',
 'berakhirlah',
 'berakhirnya',
 'berapa',
 'berapakah',
 'berapalah',
 'berapapun',
 'berarti',
 'berawal',
 'berbagai',
 'berdatangan',
 'beri',
 'berikan',
 'berikut',
 'berikutnya',
 'berjumlah',
 'berkali-kali',
 'berkata',
 'berkehendak',
 'berkeinginan',
 'berkenaan',
 'berlainan',
 'berlalu',
 'berlangsung',
 'berlebihan',
 'bermacam',
 'bermacam-macam',
 'bermaksud',
 'bermula',
 'bersama',
 'bersama-sama',
 'bersiap',
 'bersiap-siap',
 'bertanya',
 'bertanya-tanya',
 'berturut',
 'berturut-turut',
 'bertutur',
 'berujar',
 'berupa',
 'besar',
 'betul',
 'betulkah',
 'biasa',
 'biasanya',
 'bila',
 'bilakah',
 'bisa',
 'bisakah',
 'boleh',
 'bolehkah',
 'bolehlah',
 'buat',
 'bukan',
 'bukankah',
 'bukanlah',
 'bukannya',
 'bulan',
 'bung',
 'cara',
 'caranya',
 'cukup',
 'cukupkah',
 'cukuplah',
 'cuma',
 'dahulu',
 'dalam',
 'dan',
 'dapat',
 'dari',
 'daripada',
 'datang',
 'dekat',
 'demi',
 'demikian',
 'demikianlah',
 'dengan',
 'depan',
 'di',
 'dia',
 'diakhiri',
 'diakhirinya',
 'dialah',
 'diantara',
 'diantaranya',
 'diberi',
 'diberikan',
 'diberikannya',
 'dibuat',
 'dibuatnya',
 'didapat',
 'didatangkan',
 'digunakan',
 'diibaratkan',
 'diibaratkannya',
 'diingat',
 'diingatkan',
 'diinginkan',
 'dijawab',
 'dijelaskan',
 'dijelaskannya',
 'dikarenakan',
 'dikatakan',
 'dikatakannya',
 'dikerjakan',
 'diketahui',
 'diketahuinya',
 'dikira',
 'dilakukan',
 'dilalui',
 'dilihat',
 'dimaksud',
 'dimaksudkan',
 'dimaksudkannya',
 'dimaksudnya',
 'diminta',
 'dimintai',
 'dimisalkan',
 'dimulai',
 'dimulailah',
 'dimulainya',
 'dimungkinkan',
 'dini',
 'dipastikan',
 'diperbuat',
 'diperbuatnya',
 'dipergunakan',
 'diperkirakan',
 'diperlihatkan',
 'diperlukan',
 'diperlukannya',
 'dipersoalkan',
 'dipertanyakan',
 'dipunyai',
 'diri',
 'dirinya',
 'disampaikan',
 'disebut',
 'disebutkan',
 'disebutkannya',
 'disini',
 'disinilah',
 'ditambahkan',
 'ditandaskan',
 'ditanya',
 'ditanyai',
 'ditanyakan',
 'ditegaskan',
 'ditujukan',
 'ditunjuk',
 'ditunjuki',
 'ditunjukkan',
 'ditunjukkannya',
 'ditunjuknya',
 'dituturkan',
 'dituturkannya',
 'diucapkan',
 'diucapkannya',
 'diungkapkan',
 'dong',
 'dua',
 'dulu',
 'empat',
 'enggak',
 'enggaknya',
 'entah',
 'entahlah',
 'guna',
 'gunakan',
 'hal',
 'hampir',
 'hanya',
 'hanyalah',
 'hari',
 'harus',
 'haruslah',
 'harusnya',
 'hendak',
 'hendaklah',
 'hendaknya',
 'hingga',
 'ia',
 'ialah',
 'ibarat',
 'ibaratkan',
 'ibaratnya',
 'ibu',
 'ikut',
 'ingat',
 'ingat-ingat',
 'ingin',
 'inginkah',
 'inginkan',
 'ini',
 'inikah',
 'inilah',
 'itu',
 'itukah',
 'itulah',
 'jadi',
 'jadilah',
 'jadinya',
 'jangan',
 'jangankan',
 'janganlah',
 'jauh',
 'jawab',
 'jawaban',
 'jawabnya',
 'jelas',
 'jelaskan',
 'jelaslah',
 'jelasnya',
 'jika',
 'jikalau',
 'juga',
 'jumlah',
 'jumlahnya',
 'justru',
 'kala',
 'kalau',
 'kalaulah',
 'kalaupun',
 'kalian',
 'kami',
 'kamilah',
 'kamu',
 'kamulah',
 'kan',
 'kapan',
 'kapankah',
 'kapanpun',
 'karena',
 'karenanya',
 'kasus',
 'kata',
 'katakan',
 'katakanlah',
 'katanya',
 'ke',
 'keadaan',
 'kebetulan',
 'kecil',
 'kedua',
 'keduanya',
 'keinginan',
 'kelamaan',
 'kelihatan',
 'kelihatannya',
 'kelima',
 'keluar',
 'kembali',
 'kemudian',
 'kemungkinan',
 'kemungkinannya',
 'kenapa',
 'kepada',
 'kepadanya',
 'kesampaian',
 'keseluruhan',
 'keseluruhannya',
 'keterlaluan',
 'ketika',
 'khususnya',
 'kini',
 'kinilah',
 'kira',
 'kira-kira',
 'kiranya',
 'kita',
 'kitalah',
 'kok',
 'kurang',
 'lagi',
 'lagian',
 'lah',
 'lain',
 'lainnya',
 'lalu',
 'lama',
 'lamanya',
 'lanjut',
 'lanjutnya',
 'lebih',
 'lewat',
 'lima',
 'luar',
 'macam',
 'maka',
 'makanya',
 'makin',
 'malah',
 'malahan',
 'mampu',
 'mampukah',
 'mana',
 'manakala',
 'manalagi',
 'masa',
 'masalah',
 'masalahnya',
 'masih',
 'masihkah',
 'masing',
 'masing-masing',
 'mau',
 'maupun',
 'melainkan',
 'melakukan',
 'melalui',
 'melihat',
 'melihatnya',
 'memang',
 'memastikan',
 'memberi',
 'memberikan',
 'membuat',
 'memerlukan',
 'memihak',
 'meminta',
 'memintakan',
 'memisalkan',
 'memperbuat',
 'mempergunakan',
 'memperkirakan',
 'memperlihatkan',
 'mempersiapkan',
 'mempersoalkan',
 'mempertanyakan',
 'mempunyai',
 'memulai',
 'memungkinkan',
 'menaiki',
 'menambahkan',
 'menandaskan',
 'menanti',
 'menanti-nanti',
 'menantikan',
 'menanya',
 'menanyai',
 'menanyakan',
 'mendapat',
 'mendapatkan',
 'mendatang',
 'mendatangi',
 'mendatangkan',
 'menegaskan',
 'mengakhiri',
 'mengapa',
 'mengatakan',
 'mengatakannya',
 'mengenai',
 'mengerjakan',
 'mengetahui',
 'menggunakan',
 'menghendaki',
 'mengibaratkan',
 'mengibaratkannya',
 'mengingat',
 'mengingatkan',
 'menginginkan',
 'mengira',
 'mengucapkan',
 'mengucapkannya',
 'mengungkapkan',
 'menjadi',
 'menjawab',
 'menjelaskan',
 'menuju',
 'menunjuk',
 'menunjuki',
 'menunjukkan',
 'menunjuknya',
 'menurut',
 'menuturkan',
 'menyampaikan',
 'menyangkut',
 'menyatakan',
 'menyebutkan',
 'menyeluruh',
 'menyiapkan',
 'merasa',
 'mereka',
 'merekalah',
 'merupakan',
 'meski',
 'meskipun',
 'meyakini',
 'meyakinkan',
 'minta',
 'mirip',
 'misal',
 'misalkan',
 'misalnya',
 'mula',
 'mulai',
 'mulailah',
 'mulanya',
 'mungkin',
 'mungkinkah',
 'nah',
 'naik',
 'namun',
 'nanti',
 'nantinya',
 'nya',
 'nyaris',
 'nyatanya',
 'oleh',
 'olehnya',
 'pada',
 'padahal',
 'padanya',
 'pak',
 'paling',
 'panjang',
 'pantas',
 'para',
 'pasti',
 'pastilah',
 'penting',
 'pentingnya',
 'per',
 'percuma',
 'perlu',
 'perlukah',
 'perlunya',
 'pernah',
 'persoalan',
 'pertama',
 'pertama-tama',
 'pertanyaan',
 'pertanyakan',
 'pihak',
 'pihaknya',
 'pukul',
 'pula',
 'pun',
 'punya',
 'rasa',
 'rasanya',
 'rata',
 'rupanya',
 'saat',
 'saatnya',
 'saja',
 'sajalah',
 'saling',
 'sama',
 'sama-sama',
 'sambil',
 'sampai',
 'sampai-sampai',
 'sampaikan',
 'sana',
 'sangat',
 'sangatlah',
 'satu',
 'saya',
 'sayalah',
 'se',
 'sebab',
 'sebabnya',
 'sebagai',
 'sebagaimana',
 'sebagainya',
 'sebagian',
 'sebaik',
 'sebaik-baiknya',
 'sebaiknya',
 'sebaliknya',
 'sebanyak',
 'sebegini',
 'sebegitu',
 'sebelum',
 'sebelumnya',
 'sebenarnya',
 'seberapa',
 'sebesar',
 'sebetulnya',
 'sebisanya',
 'sebuah',
 'sebut',
 'sebutlah',
 'sebutnya',
 'secara',
 'secukupnya',
 'sedang',
 'sedangkan',
 'sedemikian',
 'sedikit',
 'sedikitnya',
 'seenaknya',
 'segala',
 'segalanya',
 'segera',
 'seharusnya',
 'sehingga',
 'seingat',
 'sejak',
 'sejauh',
 'sejenak',
 'sejumlah',
 'sekadar',
 'sekadarnya',
 'sekali',
 'sekali-kali',
 'sekalian',
 'sekaligus',
 'sekalipun',
 'sekarang',
 'sekecil',
 'seketika',
 'sekiranya',
 'sekitar',
 'sekitarnya',
 'sekurang-kurangnya',
 'sekurangnya',
 'sela',
 'selain',
 'selaku',
 'selalu',
 'selama',
 'selama-lamanya',
 'selamanya',
 'selanjutnya',
 'seluruh',
 'seluruhnya',
 'semacam',
 'semakin',
 'semampu',
 'semampunya',
 'semasa',
 'semasih',
 'semata',
 'semata-mata',
 'semaunya',
 'sementara',
 'semisal',
 'semisalnya',
 'sempat',
 'semua',
 'semuanya',
 'semula',
 'sendiri',
 'sendirian',
 'sendirinya',
 'seolah',
 'seolah-olah',
 'seorang',
 'sepanjang',
 'sepantasnya',
 'sepantasnyalah',
 'seperlunya',
 'seperti',
 'sepertinya',
 'sepihak',
 'sering',
 'seringnya',
 'serta',
 'serupa',
 'sesaat',
 'sesama',
 'sesampai',
 'sesegera',
 'sesekali',
 'seseorang',
 'sesuatu',
 'sesuatunya',
 'sesudah',
 'sesudahnya',
 'setelah',
 'setempat',
 'setengah',
 'seterusnya',
 'setiap',
 'setiba',
 'setibanya',
 'setidak-tidaknya',
 'setidaknya',
 'setinggi',
 'seusai',
 'sewaktu',
 'siap',
 'siapa',
 'siapakah',
 'siapapun',
 'sini',
 'sinilah',
 'soal',
 'soalnya',
 'suatu',
 'sudah',
 'sudahkah',
 'sudahlah',
 'supaya',
 'tadi',
 'tadinya',
 'tahu',
 'tahun',
 'tak',
 'tambah',
 'tambahnya',
 'tampak',
 'tampaknya',
 'tandas',
 'tandasnya',
 'tanpa',
 'tanya',
 'tanyakan',
 'tanyanya',
 'tapi',
 'tegas',
 'tegasnya',
 'telah',
 'tempat',
 'tengah',
 'tentang',
 'tentu',
 'tentulah',
 'tentunya',
 'tepat',
 'terakhir',
 'terasa',
 'terbanyak',
 'terdahulu',
 'terdapat',
 'terdiri',
 'terhadap',
 'terhadapnya',
 'teringat',
 'teringat-ingat',
 'terjadi',
 'terjadilah',
 'terjadinya',
 'terkira',
 'terlalu',
 'terlebih',
 'terlihat',
 'termasuk',
 'ternyata',
 'tersampaikan',
 'tersebut',
 'tersebutlah',
 'tertentu',
 'tertuju',
 'terus',
 'terutama',
 'tetap',
 'tetapi',
 'tiap',
 'tiba',
 'tiba-tiba',
 'tidak',
 'tidakkah',
 'tidaklah',
 'tiga',
 'tinggi',
 'toh',
 'tunjuk',
 'turut',
 'tutur',
 'tuturnya',
 'ucap',
 'ucapnya',
 'ujar',
 'ujarnya',
 'umum',
 'umumnya',
 'ungkap',
 'ungkapnya',
 'untuk',
 'usah',
 'usai',
 'waduh',
 'wah',
 'wahai',
 'waktu',
 'waktunya',
 'walau',
 'walaupun',
 'wong',
 'yaitu',
 'yakin',
 'yakni',
 'yang'}