In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import csv
from tqdm.notebook import tqdm

In [2]:
tweets_temp = []
# Creating list to append tweet data
search_words = "uu ite"
#search = search_words + " -filter:retweets"
date_since = '2021-02-14'
date_until = '2021-02-20'
lang = 'id'
search = search_words + ' since:' + date_since + ' until:' + date_until + ' lang:' + lang
tweets_count = 30000

print("Keyword : "+search_words)
print("Dari Tanggal : "+date_since)
print("Sampai Tanggal : "+date_until)
print("Bahasa (unicode) : "+lang)

# Using TwitterSearchScraper to scrape data and append tweets to list
# for i,tweet in enumerate(sntwitter.TwitterSearchScraper(search).get_items()):
#     if i>tweets_count: #number of tweets you want to scrape
#         break
#     tweets_temp.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    
for i, tweet in enumerate(tqdm(sntwitter.TwitterSearchScraper(search).get_items(), 
                               desc="Proses Scrapping Data", total=tweets_count)):
    if i>tweets_count:
        break
    tweets_temp.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    tweet

# Creating a dataframe from the tweets list above 
df_tweets = pd.DataFrame(tweets_temp, columns=['Datetime', 'Tweet Id', 'Tweet', 'Username'])

Keyword : uu ite
Dari Tanggal : 2021-02-14
Sampai Tanggal : 2021-02-20
Bahasa (unicode) : id

Proses Scrapping Data:   0%|          | 0/30000 [00:00<?, ?it/s]

In [3]:
df_tweets

,Datetime,Tweet Id,Tweet,Username
0,2021-02-19 23:58:25+00:00,1362914466917011456,"Dibeberkan Roy Suryo, Ternyata Ini Sejarah Lah...",idtodayco
1,2021-02-19 23:55:29+00:00,1362913729155764224,@TsamaraDKI @psi_id Demi menyelamatkan seorang...,toha_laha
2,2021-02-19 23:54:18+00:00,1362913430143836162,"Makassar Terkini: Jokowi Minta Revisi UU ITE, ...",bryanesia
3,2021-02-19 23:43:48+00:00,1362910790777331719,UU ITE dibuat pada zaman pra sejarah ??? Pada ...,amalpribadi2
4,2021-02-19 23:40:19+00:00,1362909911743520771,Pada UU ITE pasal-pasal karet yang perlu dicab...,BournAgainShell
...,...,...,...,...
11781,2021-02-14 00:08:58+00:00,1360742794487209989,@msaid_didu @Pak_JK @kiangiekwik @m_dinsyamsud...,Toraya_Maelo
11782,2021-02-14 00:06:15+00:00,1360742111662940162,Kalo di Jepang 4 orang terluka.kalo di Indones...,mugiarso74
11783,2021-02-14 00:03:22+00:00,1360741387050897410,"@adityapradanan Wkwk ntaps lah ditegasin, uran...",jmkaisa97
11784,2021-02-14 00:01:31+00:00,1360740920472178694,"Demokrat: Jika Jokowi Minta Dikritik, UU ITE H...",GafIkhsan
11785,2021-02-14 00:00:16+00:00,1360740607501639681,"Andalan rejim ini adalah UU ITE, BuzzeRP, Cebo...",ZRsaja

In [4]:
bruto = int(len(df_tweets))
df_tweets.drop_duplicates(subset=['Tweet'])
print("Dataset dibuang (Karena duplikat) : "+(str(bruto-int(len(df_tweets))))+" data")
print("Dataset masuk : "+str(len(df_tweets))+" data")
df_tweets.to_csv('tweets_uuite_TA.csv',index=False,quoting=csv.QUOTE_ALL)

Dataset dibuang (Karena duplikat) : 0 data
Dataset masuk : 11786 data